In [1]:
%pip install  pandas scikit-learn xgboost

Requirement already satisfied: pandas in /home/rakin/miniconda3/envs/mykernel1/lib/python3.9/site-packages (2.1.3)
Requirement already satisfied: scikit-learn in /home/rakin/miniconda3/envs/mykernel1/lib/python3.9/site-packages (1.3.2)
Requirement already satisfied: xgboost in /home/rakin/miniconda3/envs/mykernel1/lib/python3.9/site-packages (2.0.2)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/rakin/miniconda3/envs/mykernel1/lib/python3.9/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/rakin/miniconda3/envs/mykernel1/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/rakin/miniconda3/envs/mykernel1/lib/python3.9/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/rakin/miniconda3/envs/mykernel1/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: scipy>=1.5.0 in /home/rakin/miniconda3/envs/mykernel1/lib/python3.9/site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /home/rakin/miniconda3/envs/mykernel1/lib/python3.9/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/rakin/miniconda3/envs/mykernel1/lib/python3.9/site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: six>=1.5 in /home/rakin/miniconda3/envs/mykernel1/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd 
import numpy as np

In [3]:
main_data = pd.read_csv("/home/rakin/Desktop/Thesis datasets/unsw_nb_15_cat_in_num_binaryclass.csv")
print(main_data.shape)

(2540047, 44)

In [4]:

# Select 10,000 random rows
df_sample = main_data.sample(5000)

In [5]:
main_data.head()

,0,proto,state,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,...,ct_flw_http_mthd,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm
0,0,1,1,0.001055,132,164,31,29,0,0,...,0.0,0.0,0.0,3,7,1,3,1,1,1
1,0,1,1,0.036133,528,304,31,29,0,0,...,0.0,0.0,0.0,2,4,2,3,1,1,2
2,0,1,1,0.001119,146,178,31,29,0,0,...,0.0,0.0,0.0,12,8,1,2,2,1,1
3,0,1,1,0.001209,132,164,31,29,0,0,...,0.0,0.0,0.0,6,9,1,1,1,1,1
4,0,1,1,0.001169,146,178,31,29,0,0,...,0.0,0.0,0.0,7,9,1,1,1,1,1

In [6]:
def stratified_sample(df, n, column_name):
    """
    Randomly selects a sample of n rows from a Pandas DataFrame, maintaining the ratio of the specified column.

    Args:
        df (pandas.DataFrame): The DataFrame to sample from.
        n (int): The number of rows to sample.
        column_name (str): The name of the column to maintain the ratio for.

    Returns:
        pandas.DataFrame: A DataFrame containing the sampled rows.
    """
    # Calculate the ratio of values in the specified column
    ratios = df[column_name].value_counts() / df[column_name].count()

    # Sample from each category based on the calculated ratios
    sampled_df = pd.DataFrame()
    for category, ratio in ratios.items():
        # Calculate the number of rows to sample from this category
        n_sample = int(n * ratio)

        # Sample rows from this category
        sampled_category = df[df[column_name] == category].sample(n_sample)
        sampled_df = pd.concat([sampled_df, sampled_category])

    # Shuffle the sampled rows
    sampled_df = sampled_df.sample(frac=1)

    return sampled_df

In [7]:
class_cnt = main_data['0'].value_counts()

# Print the frequency of values
print(class_cnt)

0
0    2218764
1     321283
Name: count, dtype: int64

In [8]:
# Select 10,000 random rows maintaining the ratio of the column '0'
df_sample = stratified_sample(main_data, 100000, '0')

In [9]:
df_sample.head()

,0,proto,state,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,...,ct_flw_http_mthd,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm
1803266,0,1,1,0.001033,146,178,31,29,0,0,...,0.0,0.0,0.0,2,2,7,5,1,1,5
2288605,0,1,2,0.000001,264,0,60,0,0,0,...,0.0,0.0,0.0,36,36,36,36,36,19,36
834968,0,3,3,0.009146,2334,16822,31,29,7,12,...,0.0,0.0,0.0,5,7,3,4,1,1,2
1243056,0,1,1,0.001021,146,178,31,29,0,0,...,0.0,0.0,0.0,5,2,2,5,3,1,1
152671,0,3,3,1.207694,1684,10168,31,29,3,5,...,0.0,0.0,0.0,9,5,3,1,1,1,1

In [10]:
class_cnt = df_sample['0'].value_counts()

# Print the frequency of values
print(class_cnt)

0
0    87351
1    12648
Name: count, dtype: int64

In [ ]:
df_sample.to_csv('../datasets/unsw_nb_15_cat_in_num_binaryclass_100k_sample.csv', index=False)