In [21]:
%pip install caimcaim pandas scikit-learn xgboost

Requirement already satisfied: caimcaim in /home/rakinrkz/.local/lib/python3.8/site-packages (0.3)
Requirement already satisfied: pandas in /home/rakinrkz/.local/lib/python3.8/site-packages (2.0.2)
Requirement already satisfied: scikit-learn in /home/rakinrkz/.local/lib/python3.8/site-packages (1.0.2)
Requirement already satisfied: xgboost in /home/rakinrkz/.local/lib/python3.8/site-packages (1.7.5)
Requirement already satisfied: sklearn in /home/rakinrkz/.local/lib/python3.8/site-packages (from caimcaim) (0.0.post5)
Requirement already satisfied: numpy in /home/rakinrkz/.local/lib/python3.8/site-packages (from caimcaim) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/rakinrkz/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/rakinrkz/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/rakinrkz/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/rakinrkz/.local/lib/python3.8/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /home/rakinrkz/.local/lib/python3.8/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=0.11 in /home/rakinrkz/.local/lib/python3.8/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import pandas as pd 
import numpy as np

In [23]:
main_data = pd.read_csv("../datasets/unsw_nb_15_cat_in_num_binaryclass.csv")
print(main_data.shape)

(2540047, 44)

In [24]:

# Select 10,000 random rows
df_sample = main_data.sample(5000)

In [25]:
main_data.head()

,0,proto,state,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,...,ct_flw_http_mthd,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm
0,0,1,1,0.001055,132,164,31,29,0,0,...,0.0,0.0,0.0,3,7,1,3,1,1,1
1,0,1,1,0.036133,528,304,31,29,0,0,...,0.0,0.0,0.0,2,4,2,3,1,1,2
2,0,1,1,0.001119,146,178,31,29,0,0,...,0.0,0.0,0.0,12,8,1,2,2,1,1
3,0,1,1,0.001209,132,164,31,29,0,0,...,0.0,0.0,0.0,6,9,1,1,1,1,1
4,0,1,1,0.001169,146,178,31,29,0,0,...,0.0,0.0,0.0,7,9,1,1,1,1,1

In [26]:
def stratified_sample(df, n, column_name):
    """
    Randomly selects a sample of n rows from a Pandas DataFrame, maintaining the ratio of the specified column.

    Args:
        df (pandas.DataFrame): The DataFrame to sample from.
        n (int): The number of rows to sample.
        column_name (str): The name of the column to maintain the ratio for.

    Returns:
        pandas.DataFrame: A DataFrame containing the sampled rows.
    """
    # Calculate the ratio of values in the specified column
    ratios = df[column_name].value_counts() / df[column_name].count()

    # Sample from each category based on the calculated ratios
    sampled_df = pd.DataFrame()
    for category, ratio in ratios.items():
        # Calculate the number of rows to sample from this category
        n_sample = int(n * ratio)

        # Sample rows from this category
        sampled_category = df[df[column_name] == category].sample(n_sample)
        sampled_df = pd.concat([sampled_df, sampled_category])

    # Shuffle the sampled rows
    sampled_df = sampled_df.sample(frac=1)

    return sampled_df

In [27]:
class_cnt = main_data['0'].value_counts()

# Print the frequency of values
print(class_cnt)

0
0    2218764
1     321283
Name: count, dtype: int64

In [28]:
# Select 10,000 random rows maintaining the ratio of the column '0'
df_sample = stratified_sample(main_data, 50000, '0')

In [29]:
df_sample.head()

,0,proto,state,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,...,ct_flw_http_mthd,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm
595655,0,3,3,0.028016,3926,56526,31,29,7,27,...,0.0,0.0,0.0,13,4,2,7,1,1,2
399563,0,3,3,1.007838,1580,10168,31,29,3,5,...,1.0,0.0,0.0,2,1,3,4,1,1,1
164304,0,3,3,0.037968,2766,27384,31,29,7,16,...,0.0,0.0,0.0,16,6,5,5,1,1,3
2187343,1,4,2,13.790198,12832,0,254,0,0,0,...,0.0,0.0,0.0,1,1,1,1,1,1,1
1008745,0,3,3,0.018681,1540,1644,31,29,4,4,...,0.0,0.0,0.0,6,12,12,9,6,1,6

In [30]:
class_cnt = df_sample['0'].value_counts()

# Print the frequency of values
print(class_cnt)

0
0    43675
1     6324
Name: count, dtype: int64

In [31]:
df_sample.to_csv('../datasets/unsw_nb_15_cat_in_num_binaryclass_5k_sample.csv', index=False)